<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://kit.fontawesome.com/bdffa3c92f.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/superAdmin_css/admin-list.css">
        <title>Document</title>

</head>

<body>

        <div class="head">
                <img src="\images\KAHE_logo.png" alt="" srcset="">
                <h1> <b>Karpagam Academy Of Higher Education</b> </h1>
                <h3>Create a new admin for virtual lab.</h3>
        </div>
        <br><br>

        <!-- HTML Code: Place this code in the document's body (between the 'body' tags) where the table should appear -->
        <table class="GeneratedTable">
                <thead>
                        <tr>
                                <th>DEPARTMENT</th>
                                <th>FACILITY NAME</th>
                                <th>ADMIN ID</th>
                                
                                <th style="background-color: #cadbc2; border-color: #cadbc2; margin: 0; padding: 0;"></th>
                        </tr>
                </thead>
                <tbody>
                        
                        <% foundItems.forEach((element)=> { %>
                        <tr class="adminDetails">
                                <td><%= element.department %></td>
                                <td><%= element.name %></td>
                                <td><%= element.username %></td>
                                
                                <td class="delete"  style="border-color: #cadbc2; background-color: #cadbc2">
                                        <a class="deleteBtn" onclick="confirmDelete('<%- element.username %>', '<%- element.name %>', '<%- element._id %>')">
                                                <i class="fa-solid fa-trash-can"></i>
                                        </a>
                                </td>
                        </tr>
                        <% }); %>
                </tbody>
        </table>
        <br><br>
        <div class="btn">
                <button id="createAdmin" onclick="window.location.href = '/super-admin/create-admin'"><i class="fa-solid fa-plus"></i> Create Admin</button>
                <button id="logout" onclick="logout()"><i class="fa-solid fa-right-from-bracket"></i> Logout</button>
        </div>
        


</body>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>

        const confirmDelete = async(username, name, id)=>{
                try {
                        console.log('clicked')
                        const deleteAdmin = window.prompt(`This action cannot be undone. This will permanently delete the admin - ${name}.\nWe believe you understande the consequences.\nTo confirm this Delete, Please type the following "${username}" down below 👇`)
                        if (deleteAdmin == username) {
                                await axios.delete(`/super-admin/admin/${username}/${id}/delete`);
                                console.log('verified')
                                window.location.reload()
                        }
                        else {
                                window.alert('Failed!')
                        }  
                } catch (error) {
                        console.log(error)
                }
                
        }

        const logout = async ()=>{
                await axios.get('/super-admin/logout')
                window.location.href = '/super-admin/login'
        }

</script>

</html>